html,
body {
  margin: 0;
}

/* .Home {
  padding: 20px;
} */

.Home input {
  height: 20px;
  padding: 1px;
  padding-left: 4px;
}

.Home button {
  height: 25px;
  position: fixed;
  border-radius: 1px;
  padding: 3px;
}

.GetButton button {
  width: 8rem;
  border-radius: 1px;
  position: fixed;
  top: 160px;
  left: 20px;
  padding-right: 4px;
  margin-right: 5px;
}

.MissionStatement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.MissionStatement div {
  opacity: 88%;
  background-color: white;
  padding: 10px;
  margin-top: 50px;
  max-width: 500px;
  text-align: center;
  border-radius: 8px;
}

button {
  padding: 0.5rem;
  opacity: 0.7;
  font-family: 'Playfair Display SC';
  font-weight: bold;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin: 0.1rem;
  background-color: lightgrey;
}

button:hover {
  background-color: gray;
  color: black;
}
