* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: #76c893;
}

.Home input {
  height: 20px;
  padding: 1px;
  padding-left: 4px;
}

.Home button {
  height: 25px;
  position: fixed;
  border-radius: 1px;
  padding: 3px;
}

.GetButton button {
  width: 8rem;
  border-radius: 1px;
  position: fixed;
  top: 160px;
  left: 20px;
  padding-right: 4px;
  margin-right: 5px;
}

.MissionStatement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.MissionStatement div {
  opacity: 88%;
  background-color: white;
  padding: 10px;
  margin-top: 50px;
  max-width: 500px;
  text-align: center;
  border-radius: 8px;
}

button {
  padding: 0.2rem 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  border-radius: 0.5rem;
  border: 0.1rem solid #b5e48c;
  margin: 0.1rem;
  background-color: #1a759f;
  color: white;
}

button:hover {
  background-color: #1e6091;
  color: white;
}
