.Header {
  background-color: white;
  padding: 10px;
  opacity: 60%;
  display: flex;
  justify-content: space-between;
}

.Header h1 {
  color: #5ca08e;
  font-family: 'Playfair Display SC';
}

.Header h4 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-style: italic;
}
