.Header {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 80%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
}

.Header h1 {
  color: #5ca08e;
  font-family: 'Playfair Display SC';
  font-size: 2.5rem;
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.Header h4 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-style: italic;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}
