.Login {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
}

.inputStyles {
  display: gird;
  grid-template-columns: 1fr;
}

.Login input {
  height: 1.5rem;
  width: 65%;
  margin-bottom: 0.1rem;
  border-radius: 0.5rem;
}

.Login button {
  margin: 0.5rem 0rem;
  margin-right: 0.5rem;
}

.signUp {
  cursor: pointer;
}

.signUp:hover {
  color: #1d443a;
}
